<div class="main">
    <div class="dics">
    {{#each disc}}
        <a href=""> <h1> {{album}} </h1> </a>
        <h2> {{released}} </h2>
        {{!-- <ul>
            {{#each tracks}}
                <li> <p> {{no}}. </p> </li>
                <li> <p> {{name}} </p> </li>
                <li> <p> ({{length}}) </p> </li>
            {{/each}}
        </ul> --}}
    {{/each}}
    </div>
</div>